ul.messageList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;

  > li { display: flex; }

  > li .messageSuggestions {
    display: none;
  }

  > li:last-of-type {
    .messageSuggestions { display: initial; }
  }

  li.chatui + li.chatui, li.you + li.you {
    margin-top: -5px;
    .messageSource { display: none; }
  }
}
