ul.chatContainerList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;

  > li { display: flex; }

  > li .messageSuggestions {
    display: none;
  }

  > li:last-of-type {
    .messageSuggestions { display: initial; }
  }
}
