

.cardSlider {
  padding: 0 50px;
  position: relative;
  mask-image: linear-gradient(to left, var(--mask-black) calc(100% - 100px), var(--mask-transparent) calc(100% - 50px));
  mask-repeat: no-repeat;
  mask-size: calc(100% + 100px) 100%;
  mask-position: 0px 0px;
  transition: mask-position 0.5s ease-in-out;
  &.left { mask-position: -100px 0px}

  .cardWrapper {
    padding-bottom: 10px;
    width: 100%;
    overflow: auto;
    mask-image: linear-gradient(to right, var(--mask-black) calc(100% - 50px), var(--mask-transparent) 100%);
    mask-repeat: no-repeat;
    mask-size: calc(100% + 100px) 100%;
    mask-position: -100px 0;
    transition: mask-position 0.5s ease-in-out;
    &.right { mask-position: 0 0; }
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
  }

  ul > li {
    display: flex;
    flex-shrink: 0;
    width: 250px;
  }
}

// ToDo: Better specification.
.cardSlider ol {
  margin-top: 5px;

  li {
    position: relative;
    padding-left: 20px;

    &::before {
      position: absolute;
      content: '';
      width: 4px;
      height: 4px;
      left: 6px;
      top: 9px;
      border-radius: 99px;
      background: var(--bullet-color);
    }
  }
}


.card {
  width: 100%;
  background: var(--bg-primary);
  border: 1px solid var(--border-primary);
  box-shadow: 0px 10px 15px 5px var(--shadow-light);
  border-radius: 10px;
  padding: 10px;
  font-size: 0.96em;
  line-height: 160%;
  gap: 5px;

  h1 {
    font-weight: 700;
    font-size: 1.1em;
  }
}
