

// ToDo: Better specification.
.chatui-cardSlider ol {
  margin-top: 5px;

  li {
    position: relative;
    padding-left: 20px;

    &::before {
      position: absolute;
      content: '';
      width: 4px;
      height: 4px;
      left: 6px;
      top: 9px;
      border-radius: 99px;
      background: var(--bullet-color);
    }
  }
}
