ul.chatui-messageList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;

  > li { display: flex; }

  > li .messageSuggestions {
    display: none;
  }

  > li:last-of-type {
    .messageSuggestions { display: initial; }
  }

  li.chatui + li.chatui, li.you + li.you {
    margin-top: -5px;
    .chatui-messageSource { display: none; }
  }
}


.chatui-messages {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.chatui-messageScroller {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  
  // The second gradient makes sure the scrollbar does not get the trasparency effect.
  mask-image:
    linear-gradient(
      to bottom,
      transparent 0,
      black 10px,
      black calc(100% - 10px),
      transparent 100%
    ),
    linear-gradient(
      to right,
      transparent calc(100% - 10px),
      black calc(100% - 10px)
    );
  mask-size: 100% 100%, 100% 100%;
  mask-repeat: no-repeat, no-repeat;
  mask-composite: add;
}

.chatui-messageWrapper {
  flex: 1 0;
  position: relative;

  .message {
    width: 100%;
    position: absolute;
  }
}

.chatui-message {
  flex: 1 0;
  gap: 5px;
}

.chatui-messageBody {
  background: radial-gradient(50% 50% at 50% 50%, var(--bg-gradient-start) 0%, var(--bg-gradient-end) 100%);
  box-shadow: 0px 10px 40px 10px var(--shadow-medium);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--border-primary);
  gap: 10px;
}

hr.chatui-hr {
  width: auto;
  min-height: 1px;
  border: 0;
  background: var(--border-secondary);
}

.chatui-placeholder {
  position: absolute;
  top: calc(50% - 0.9em);
  left: 10px;
  color: var(--text-alpha-25);
}

@import 'messageSource.scss';
@import 'messageInput.scss';
@import 'messageSuggestions.scss';
@import 'messageSuggestion.scss';

