.messageInput {
  margin-bottom: -10px;

  .inputWrapper {
    flex-direction: row;
    align-items: center;
    img { opacity: 0.33 }
  }

  .textareaWrapper {
    position: relative;
    flex: 1
  }

  .icon {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
  }

  textarea {
    background: none;
    border: 0px;
    resize: none;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: var(--button-text);
    &::placeholder { color: var(--text-transparent); }
  }

  button {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
  }

  .placeholder { left: 0; }
}
