.chatInput {
  flex-direction: row;
  gap: $space;
  align-items: flex-start;
  
  .textInputContainer {
    flex: 1;
    position: relative;
  }

  textarea {
    border: 1px solid $borderColor;
    border-radius: $space;
    font-size: inherit;
    min-height: $uiMinHeight;
    resize: none;
    padding: calc($space / 2) $space;
    &::placeholder { opacity: 0; }
  }
}





.inputControls {
  flex-direction: row;
  gap: $space;
}
