.userLocationRequest {
  transition: $transition;
  
  &.active {
    filter: grayscale(0);
    opacity: 1;
  }
  
  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
    filter: grayscale(1);
    
    &:hover {
      opacity: 0.3;
      filter: grayscale(1);
    }
  }
}
