.alsoExplore {
  position: relative;
  flex-direction: row;
  font-size: 0.85em;
  gap: $space;
  align-items: center;

  .title { 
    white-space: nowrap; 
    opacity: 0.66;
  }
}

ul.exploreSectionsList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $space;
  padding-right: 20px;
}
