button.alsoExploreButton {
  display: flex;
  height: 44px;
  background: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  
  > span {
    display: flex;
    gap: $space;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 0 $space;
    border-radius: 99px;
    background: #cecece;
    height: 34px;
    color: $mainColor;
    font-weight: 500;
    border-radius: 1px solid rgba(0, 0, 0, 0.1);
  }

  .text { display: flex; }
}
