$uiMinHeight: 40px;

$mainColor: #42424B;
$space: 10px;
$fontFamily: "Rethink Sans", sans-serif;
$transition: all 0.25s ease-in-out;
$yellow: #EDCB59;
$green: #3FD288;

$borderColor: rgba(0, 0, 0, 0.1);

@import 'buttons/index.scss'
