.messageSuggestion {
  flex-direction: row;
  align-items: center;
  flex: 1;
  cursor: pointer;
  font-size: 0.9em;

  &:focus, &:hover {
    outline: none;
    .icon {
      opacity: 1;
    }
  }

  .icon {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    opacity: 0.33;
    margin-left: -10px;
    transition: all 0.2s ease-in-out;
  }

  .text {
    flex: 1;

    span {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }

    strong {
      font-weight: 700;
    }
  }
}
