button.chatui-button {
  border-radius: 10px;
  background: var(--button-bg);
  color: var(--button-text);
  min-height: $uiMinHeight;
  min-width: $uiMinHeight;
  padding: 0 $space;
  &:disabled { cursor: not-allowed; }
}

@import 'chatSubmit';
