.introSuggestionsChat {
  min-height: calc($space * 4);
  position: relative;
  border-top: 1px solid $borderColor;
  transition: border 0.2s ease-in-out;

  &.focused {
    border-top: 1px solid transparent;
  }
  
  .wrapper {
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
  }

  &.focused .content {
    background: #E6E3E0;
    border-radius: $space;
    border: 0px;
  }

  .content {
    flex-direction: row;
    align-items: center;
    transition: $transition;
    
    .icon {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-position: center center;
    }
  
    textarea {
      width: 100%;
      background: none;
      border: 0;
      resize: none;
      caret-color: $mainColor;

      &::placeholder {
        opacity: 0.2;
        font-size: 0.9em;
      }
    }
  }
}
