.introSuggestionMark {
  flex-direction: row;
  align-items: center;
  border: 1px solid $borderColor;
  border-radius: $space;
  height: $space * 3;
  padding: 0 $space;
  font-size: 0.95em;
  
  .icon {
    height: $space * 3;
    width: $space * 3;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: calc($space * -1)
  }
}
